body {
    background: linear-gradient(to right, darkslategray, black, darkslategray);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    color: rgb(31, 50, 50);
    text-align: center;
    font-family: sans-serif;
    font-size: 2.4vw;
}

h2 {
    color: rgb(59, 105, 105);
    text-align: center;
    font-family: sans-serif;
    font-size: 2.1vw;
}

a {
    color: rgb(59, 105, 105);
}

p {
    text-indent: 2.5vw;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    gap: 10px; /* Adds space between the divs */
}

.idea {
    flex: 1;
    background: linear-gradient(to right, black, rgb(25, 43, 43));
    width: 400px;
    height: 3.7vh;

    border-radius: 15px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: first baseline;
    color: rgb(90, 150, 150);
    font-family: sans-serif;

    transition: flex-basis 0.7s ease, height 0.7s ease;
    overflow: hidden;
    
}

.idea:hover {
    min-height: 70vh;
    flex-basis: 25vw;
}

.idea span {
    text-align: center;
    font-size: 2vw;
    transition: transform 0.7s ease, font-size 0.7s ease;
}

.idea:hover span {
    display: block;
    text-align: center;
    font-size: 3.5vw;
    word-wrap: break-word;
}

.idea .text {
    opacity: 0;
    font-size: 1.2vw;
    visibility: hidden;
    position: absolute;
    color: rgb(90, 150, 150);
    transition: visibility 0s;
}

.idea:hover .text {
    opacity: 1;
    visibility: visible;
    text-align: center;
    justify-self: center;
    top: 32vh;
    width: 45vw;
    transition: opacity 5s ease;
}

.idea-img {
    width:32.5vw;
    height: 45vh;
    object-fit: cover;
    margin-left: 3px;
    margin-top: 7vh;
    border-radius: 15px;
}
