body {
    background: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.poppy-logo {
    width: 2vw;
    height: 2vw;
}

.block {
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 37.8vw;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2vw;
    color: rgb(109, 108, 108);
}

.poppy-left {
    margin-top: 1.7vh;
}

.block-text {
    margin-top: 2vh;
}

.poppy-right {
    margin-top: 1.7vh;
}

.title {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Aligns the h1 and h2 vertically */
    justify-content: center; /* Centers them vertically */
    align-items: center; /* Centers them horizontally */
    background-image: url('https://66.media.tumblr.com/02d5a13e40179c6faa0e0382adacf584/tumblr_o0lfrcALwC1qezks7o1_500.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: rgb(11, 41, 16);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 0vh;
    margin-bottom: 0px;
    font-size: 11vw;
}

h2 {
    color: rgb(7, 26, 10);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 0px;
    font-size: 6vw;
}

h3 {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.name {
    margin-top: 20vh;
    font-family: sans-serif;
    font-size: 4vw;
    text-indent: 6vw;
    color: rgb(36, 35, 35);
}


.container {
    display: flex;
    width: 100%;
    gap: 10vw; /* Adds space between the divs */
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

.idea {
    position: relative;
    padding: 0;
    width: 22.5vw;
    height: 60vh;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 2vw;
    transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

.idea:hover {
    width: 26vw;
    height: 70vh;
    font-size: 2.5vw;
}

#idea1 {
    background-image: url('https://media0.giphy.com/media/biR2IxoVwmBzin45F7/giphy.gif?cid=790b761152bae700076c43256e6b8e1114a5602a2fa7b2fc&rid=giphy.gif&ct=g');
}

#idea2 {
    background-image: url('https://media4.giphy.com/media/Acnhxg0QAN1F8mRoRR/200.gif?cid=790b7611eotii6825r5619xdmosbz3wexes2ek5g1ocdp5pu&rid=200.gif&ct=g');
}

#idea3 {
    background-image: url('https://1.bp.blogspot.com/-eh7u3OEWYRg/XAKXYFnQcWI/AAAAAAABgAw/MhkKv_oARZIPDOoqJ3kJ6F0e3Wbc0PNmgCLcBGAs/s1600/Schlieffen-Plan-map.gif');
}

.idea-title {
    position: absolute;
    background-color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-title {
    font-family: sans-serif;
    font-size: 4vw;
    text-align: center;
    color: rgb(36, 35, 35);
    margin-top: 10vh;
}

.main-text {
    padding: 4vw;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: left;
    color: black;
    margin-top: 2vh;
    text-indent: 7vw;
}

.info-pair-type1 {
    display: flex;
    align-items: center; /* Aligns items vertically (center, start, or end) */
    text-indent: 5vw;
    font-family: sans-serif;
    font-size: 1.6vw;
    margin-top: 20vh;
    margin-left: 5vw;
}

.info-pair-type1 img {
    max-width: 40vw;
    margin-left: 8vw;
    margin-right: 5vw;
}

.info-pair-type2 {
    display: flex;
    align-items: center; /* Aligns items vertically (center, start, or end) */
    text-indent: 5vw;
    font-family: sans-serif;
    font-size: 1.6vw;
    margin-top: 30vh;
    margin-right: 5vw;
}

.info-pair-type2 img {
    max-width: 35vw;
    height: 45vh;
    margin-left: 5vw;
    margin-right: 7vw;
}

.info-pair-type3 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns items vertically (center, start, or end) */
    text-indent: 5vw;
    font-family: sans-serif;
    font-size: 1.6vw;
    margin-top: 5vh;
    padding: 8vw;
    bottom: 0px;
    height: fit-content;
}

.info-pair-type3-img {
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.info-pair-type3 img {
    top: 0px;
    width: 70vw;
    height: 70vh;
}

.info-pair-type3 .link {
    margin-top: 20vh;
    text-align: center;
    text-indent: 0px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 10vh;
}

.work-cited-button {
    align-items: center;
    font-family: sans-serif;
    font-size: 2vw;
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    background-color: black;
    color: white;

}


