body {
    background: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.poppy-logo {
    width: 2vw;
    height: 2vw;
}

.block {
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 36vw;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2vw;
    color: rgb(109, 108, 108);
}

.poppy-left {
    margin-top: 1.7vh;
}

.block-text {
    margin-top: 2vh;
}

.poppy-right {
    margin-top: 1.7vh;
}


.title {
    font-family: sans-serif;
    font-size: 6.5vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: rgb(36, 35, 35);
}

.section {
    margin-bottom: 15vh;
}

.section-title {
    font-family: sans-serif;
    font-size: 2.5vw;
    text-align: left;
    margin-left: 5vw;
    color:rgb(36, 35, 35);
}

.sub-title {
    font-family: sans-serif;
    font-size: 1.8vw;
    text-align: left;
    margin-left: 6vw;
    color:rgb(36, 35, 35);
    margin-top: 5vh;
}

.image-citation {
    font-family: sans-serif;
    font-size: 1.5vw;
    margin-left: 8vw;
    margin-top: 4vh;
}

.info-citation {
    font-family: sans-serif;
    font-size: 1.5vw;
    margin-left: 8vw;
    margin-top: 4vh;
    margin-right: 5vw;
    width: 55vw;
}